<%- include('header') %>

<form action="/" method="post" class="ui form">
    
    <div class="field">
        <label for="message">Message : </label>
        <textarea name="message" id="message" cols="30" rows="10"></textarea>
    </div>
        <button class="ui blue labled submit icon button">
            <i class="icon edit"></i>    
            envoyer
        </button>
    

</form>

<%- include('footer') %>